---
import '@fontsource-variable/urbanist';
import AZLogo from '/az-logo.svg'
import World from '../components/Icon/svg/World.svg'
import Icon from "../components/Icon.astro"
import ReactIcon from "../components/ReactIcon"
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>andreszapata.me</title>
	</head>
	<body>
		<div class="main flex flex-col gap-y-16 lg:gap-y-0 p-4 lg:p-12">
			<div class="section-one min-h-[390px] flex flex-col lg:flex-row justify-between">
				<div>
					<img src={AZLogo} alt="{az}" class="w-[180px] lg:w-[220px]" />
				</div>
				<div>
					<h1 class="text-[50px] font-medium">Hi there!</h1>
					<p class="text-xl font-light mb-4">
						I like the new <span class="font-semibold">ideas</span>, let's work on them together. I really enjoy designing,<br>
						developing software and bringing interesting projects to life.<br>
						These are some of my skills and portfolio, I hope you like it.
					</p>
					<a href="#section-contact">
						<button class="border-[1.5px] border-bleu-de-france rounded-lg px-5 py-2 text-sm font-semibold transition-colors duration-200 hover:bg-bleu-de-france hover:text-white">Contact us</button>
					</a>
				</div>
			</div>
			<div class="section-two">
				<h2 class="text-4xl text-navy-blue font-semibold">Skills</h2>
				<div class="min-h-[350px] flex flex-col justify-center items-center mt-12 lg:mt-0">
					<div class="w-11/12 lg:w-8/12 grid grid-cols-2 lg:grid-cols-5 gap-x-8 lg:gap-x-4 gap-y-10 lg:gap-y-20 justify-items-center">
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="figma" alt="Figma" title="UX/UI" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="illustrator" alt="Illustrator" title="Design" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="astro" alt="Astro" title="Astro" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="tailwind" alt="Tailwind" title="Tailwind CSS" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="aws" alt="AWS" title="AWS" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="git" alt="Git" title="Git" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="javascript" alt="JavaScript" title="JavaScript" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="react" alt="React" title="React" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="node" alt="Node.js" title="Node.js" />
						</div>
						<div class="cursor-pointer transition-transform duration-200 hover:scale-125">
							<ReactIcon client:load name="mongodb" alt="MongoDB" title="MongoDB" />
						</div>
					</div>
				</div>
			</div>
			<div class="section-three">
				<h2 class="text-4xl text-navy-blue font-semibold">Work and projects</h2>
				<div class="min-h-[350px] flex flex-col justify-center my-12 lg:my-0">
					<div class="grid grid-cols-2 lg:grid-cols-6 gap-y-12 lg:gap-y-0 justify-items-center lg:justify-items-start">
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="ness" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">Ness Digital</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">Ness Digital</h1>
											<p class="text-[11px]">Healthcare SaaS</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>Product designer</li>
												<li>Frontend dev</li>
												<li>DevOps</li>
											</ul>
										</div>
										<div class="self-center">
											<a href="https://github.com/andreszapataq" target="_blank"><img class="cursor-pointer" src={World} alt="World"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="vive" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">Vive Solutions</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">Vive Solutions</h1>
											<p class="text-[11px]">Medical Devices</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>COO</li>
												<li>Web dev</li>
												<li>Logo designer</li>
											</ul>
										</div>
										<div class="self-center">
											<a href="https://vivesolutions.co/" target="_blank"><img class="cursor-pointer" src={World} alt="World"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="zanto" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">Zanto</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">Zanto</h1>
											<p class="text-[11px]">Clothing</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>Founder</li>
												<li>Designer</li>
												<li>Logo designer</li>
											</ul>
										</div>
										<div class="self-center">
											<img class="cursor-pointer" src={World} alt="World">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="artan" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">Artan</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">Artan</h1>
											<p class="text-[11px]">Carpentry</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>Web dev</li>
												<li>WordPress</li>
												<!-- <li></li> -->
											</ul>
										</div>
										<div class="self-center">
											<a href="https://artan.com.co/" target="_blank"><img class="cursor-pointer" src={World} alt="World"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="nab" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">NAB Tax Services</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">NAB Tax Services</h1>
											<p class="text-[11px]">Accounting</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>Web dev</li>
												<li>Logo designer</li>
												<!-- <li></li> -->
											</ul>
										</div>
										<div class="self-center">
											<a href="https://nabtaxservices.com/" target="_blank"><img class="cursor-pointer" src={World} alt="World"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="group w-[140px] h-[165px] [perspective:1000px]">
							<div class="relative w-full h-full rounded-lg shadow-[0_0_8px_rgba(0,0,0,0.11)] transition-all duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
								<div class="absolute inset-0">
									<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
										<Icon name="githubproject" />
									</div>
									<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
										<p class="text-white text-sm ml-2">React Inventory</p>
									</div>
								</div>
								<div class="absolute inset-0 h-full w-full rounded-lg bg-white [transform:rotateY(180deg)] [backface-visibility:hidden]">
									<div class="h-full flex flex-col justify-between p-3.5">
										<div>
											<h1 class="text-navy-blue font-medium text-sm">React Inventory</h1>
											<p class="text-[11px]">Personal Project</p>
										</div>
										<div>
											<ul class="list-disc list-inside text-xs">
												<li>Product designer</li>
												<li>Fullstack dev</li>
												<li>DevOps</li>
											</ul>
										</div>
										<div class="self-center">
											<a href="https://github.com/andreszapataq/react-inventory-2" target="_blank"><img class="cursor-pointer" src={World} alt="World"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="section-contact" class="section-contact px-4 py-8 lg:p-12 bg-[#292929]">
			<h2 class="text-4xl text-white font-semibold">Contact us</h2>
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-y-14 items-center mt-8 lg:mt-0">
				<div class="flex flex-col justify-center items-center lg:items-start">
					<p class="text-white mb-3">Our email</p>
					<a href="mailto:contacto@andreszapata.me">
						<button class="flex items-center bg-bleu-de-france rounded-lg text-white px-6 py-4 transition-transform duration-2000 hover:scale-105">
							<p class="mr-2">contacto@andreszapata.me</p>
							<Icon name="paperplane" />
						</button>
					</a>
				</div>
				<div class="flex justify-center">
					<p class="text-white">Perhaps you'd like to complete this form...</p>
				</div>
				<div class="justify-self-center lg:justify-self-end">
					<form action="https://formspree.io/f/mwkdjvpj" method="post" class="w-[325px] lg:w-[500px] flex flex-col">
						<div class="relative h-11 w-full min-w-[200px] mb-8">
							<input
								class="peer h-full w-full border-b border-gray-500 bg-transparent pt-4 pb-1.5 text-white outline outline-0 transition-all placeholder-shown:border-gray-500 focus:border-bleu-de-france focus:outline-0 disabled:border-0 disabled:bg-gray-50"
								name="name" placeholder=" " type="text" required
							/>
							<label class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] leading-tight text-gray-400 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-bleu-de-france after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-gray-400 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-bleu-de-france peer-focus:after:scale-x-100 peer-focus:after:border-bleu-de-france peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-gray-400">
								Name
							</label>
						</div>
						<div class="relative h-11 w-full min-w-[200px] mb-8">
							<input
								class="peer h-full w-full border-b border-gray-500 bg-transparent pt-4 pb-1.5 text-white outline outline-0 transition-all placeholder-shown:border-gray-500 focus:border-bleu-de-france focus:outline-0 disabled:border-0 disabled:bg-gray-50"
								name="email" placeholder=" " type="email" required
							/>
							<label class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] leading-tight text-gray-400 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-bleu-de-france after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-gray-400 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-bleu-de-france peer-focus:after:scale-x-100 peer-focus:after:border-bleu-de-france peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-gray-400">
								Email
							</label>
						</div>
						<label for="message"></label>
						<textarea class="border border-gray-500 bg-transparent rounded-lg resize-none p-2 mb-8 text-white outline outline-0 placeholder:text-sm focus:outline-0 focus:border-bleu-de-france focus:ring-bleu-de-france focus:ring-1" name="message" id="message" cols="30" rows="6" placeholder="Your message" required></textarea>
						<button class="w-[150px] lg:w-[125px] bg-bleu-de-france rounded-lg text-white font-medium self-center lg:self-start px-11 py-3 lg:py-2.5 transition-colors duration-200 hover:bg-blue-700" type="submit">Send</button>
					</form>
				</div>
			</div>
		</div>
		<div class="section-footer bg-bleu-de-france min-h-[100px] lg:min-h-[130px] flex flex-col justify-center items-center">
			<div class="w-[212px] flex justify-between my-6">
				<a href="https://twitter.com/andreszapataq" target="_blank"><Icon name="x" /></a>
				<a href="https://www.linkedin.com/in/andreszapataq/" target="_blank"><Icon name="linkedin" /></a>
				<a href="https://github.com/andreszapataq" target="_blank"><Icon name="github" /></a>
			</div>
			<p class="text-white text-[13px]">
				&copy; <span id="year"></span> andreszapata.me
			</p>
		</div>
		<script is:inline src="../utils/utils.js"></script>
	</body>
</html>