---
import "@fontsource-variable/urbanist";
import AZLogo from "../components/Icon/svg/az-logo.svg";
import NewWorld from "../components/Icon/svg/NewWorld.svg";
import Icon from "../components/Icon.astro";
import ReactIcon from "../components/ReactIcon";
import { getAllContentfulData } from "../services/contentful";
console.log("Before calling Contentful");
const contentfulData = await getAllContentfulData();
console.log(contentfulData);
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>andreszapata.me - Welcome</title>
  </head>
  <body>
    <div class="main flex flex-col gap-y-16 lg:gap-y-32">
      <div
        class="section-hero min-h-[390px] mx-4 my-6 lg:mx-64 lg:my-12 flex flex-col justify-between"
      >
        <a href="https://andreszapata.me/">
          <img src={AZLogo.src} alt="{az}" class="w-[180px] lg:w-[220px]" />
        </a>
        <div class="flex flex-col items-center">
          <h1 class="text-[50px] font-medium">
            {contentfulData.information[0].title}
          </h1>
          <p class="text-xl font-light mb-5 text-center lg:leading-relaxed">
            I like the new <span class="font-semibold">ideas</span>, let's work
            on them together. I really enjoy designing,<br />
            developing software and bringing interesting projects to life.<br />
            These are some of my skills and portfolio, I hope you like it.
          </p>
          <a href="#section-contact">
            <button
              class="border-[1.5px] border-bleu-de-france rounded-lg px-5 py-2 text-sm font-semibold transition-colors duration-200 hover:bg-bleu-de-france hover:text-white"
              >Contact us</button
            >
          </a>
        </div>
      </div>
      <div class="section-skills bg-zinc-50">
        <div class="mx-4 my-6 lg:mx-64 lg:my-12">
          <h2 class="text-4xl text-navy-blue font-semibold">Skills</h2>
          <div
            class="min-h-[350px] flex flex-col justify-center items-center mt-12 lg:mt-0"
          >
            <div
              class="w-11/12 lg:w-9/12 grid grid-cols-2 lg:grid-cols-5 gap-x-8 lg:gap-x-4 gap-y-10 lg:gap-y-20 justify-items-center"
            >
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon client:load name="figma" alt="Figma" title="UX/UI" />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon
                  client:load
                  name="illustrator"
                  alt="Illustrator"
                  title="Design"
                />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon client:load name="astro" alt="Astro" title="Astro" />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon
                  client:load
                  name="tailwind"
                  alt="Tailwind"
                  title="Tailwind CSS"
                />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon client:load name="aws" alt="AWS" title="AWS" />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon client:load name="git" alt="Git" title="Git" />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon
                  client:load
                  name="javascript"
                  alt="JavaScript"
                  title="JavaScript"
                />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon client:load name="react" alt="React" title="React" />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon
                  client:load
                  name="node"
                  alt="Node.js"
                  title="Node.js"
                />
              </div>
              <div
                class="cursor-pointer transition-transform duration-200 hover:scale-125"
              >
                <ReactIcon
                  client:load
                  name="mongodb"
                  alt="MongoDB"
                  title="MongoDB"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-work mx-4 my-6 lg:mx-64 lg:my-12">
        <h2 class="text-4xl text-navy-blue font-semibold">Work and projects</h2>
        <div class="min-h-[350px] flex flex-col justify-center my-12 lg:my-0">
          <div
            class="grid grid-cols-1 lg:grid-cols-5 gap-y-12 lg:gap-y-0 justify-items-center"
          >
            <div
              class="w-[220px] h-[200px] flex flex-col justify-between px-6 py-4 bg-gradient-to-br from-white from-[58.85%] to-[#F8F8F8] shadow-[1px_1px_2px_1px_rgba(0,0,0,0.11)] rounded-lg"
            >
              <div class="min-h-[50px] mt-2">
                <Icon name="ness" />
              </div>
              <p class="text-sm font-medium">Healthcare SaaS</p>
              <div>
                <ul class="list-disc list-inside text-xs text-[#585D68]">
                  <li>Product designer</li>
                  <li>Frontend dev</li>
                  <li>DevOps</li>
                </ul>
              </div>
              <div class="self-end">
                <a href="https://github.com/andreszapataq" target="_blank"
                  ><img
                    class="cursor-pointer"
                    src={NewWorld.src}
                    alt="New World"
                  /></a
                >
              </div>
            </div>
            <div
              class="w-[220px] h-[200px] flex flex-col justify-between px-6 py-4 bg-gradient-to-br from-white from-[58.85%] to-[#F8F8F8] shadow-[1px_1px_2px_1px_rgba(0,0,0,0.11)] rounded-lg"
            >
              <div class="min-h-[50px] mt-2">
                <Icon name="vive" />
              </div>
              <p class="text-sm font-medium">Medical Devices</p>
              <div>
                <ul class="list-disc list-inside text-xs text-[#585D68]">
                  <li>COO</li>
                  <li>Web dev</li>
                  <li>Logo designer</li>
                </ul>
              </div>
              <div class="self-end">
                <a href="https://vivesolutions.co" target="_blank"
                  ><img
                    class="cursor-pointer"
                    src={NewWorld.src}
                    alt="New World"
                  /></a
                >
              </div>
            </div>
            <div
              class="w-[220px] h-[200px] flex flex-col justify-between px-6 py-4 bg-gradient-to-br from-white from-[58.85%] to-[#F8F8F8] shadow-[1px_1px_2px_1px_rgba(0,0,0,0.11)] rounded-lg"
            >
              <div class="min-h-[50px] mt-2">
                <Icon name="zanto" />
              </div>
              <p class="text-sm font-medium">Clothing</p>
              <div>
                <ul class="list-disc list-inside text-xs text-[#585D68]">
                  <li>Founder</li>
                  <li>Designer</li>
                  <li>Logo designer</li>
                </ul>
              </div>
              <div class="self-end">
                <a href="#"
                  ><img
                    class="cursor-pointer"
                    src={NewWorld.src}
                    alt="New World"
                  /></a
                >
              </div>
            </div>
            <div
              class="w-[220px] h-[200px] flex flex-col justify-between px-6 py-4 bg-gradient-to-br from-white from-[58.85%] to-[#F8F8F8] shadow-[1px_1px_2px_1px_rgba(0,0,0,0.11)] rounded-lg"
            >
              <div class="min-h-[50px] mt-2">
                <Icon name="artan" />
              </div>
              <p class="text-sm font-medium">Carpentry</p>
              <div>
                <ul class="list-disc list-inside text-xs text-[#585D68]">
                  <li>Web dev</li>
                  <li>WordPress</li>
                  <li>Technical Support</li>
                </ul>
              </div>
              <div class="self-end">
                <a href="https://artan.com.co/" target="_blank"
                  ><img
                    class="cursor-pointer"
                    src={NewWorld.src}
                    alt="New World"
                  /></a
                >
              </div>
            </div>
            <div
              class="w-[220px] h-[200px] flex flex-col justify-between px-6 py-4 bg-gradient-to-br from-white from-[58.85%] to-[#F8F8F8] shadow-[1px_1px_2px_1px_rgba(0,0,0,0.11)] rounded-lg"
            >
              <div class="min-h-[50px] mt-2">
                <Icon name="nab" />
              </div>
              <p class="text-sm font-medium">Accounting</p>
              <div>
                <ul class="list-disc list-inside text-xs text-[#585D68]">
                  <li>Web dev</li>
                  <li>Logo designer</li>
                  <li>Technical Support</li>
                </ul>
              </div>
              <div class="self-end">
                <a href="https://nabtaxservices.com/" target="_blank"
                  ><img
                    class="cursor-pointer"
                    src={NewWorld.src}
                    alt="New World"
                  /></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="section-contact"
      class="section-contact px-4 py-8 lg:p-12 bg-[#292929]"
    >
      <h2 class="text-4xl text-white font-semibold">Contact us</h2>
      <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-y-14 items-center mt-8 lg:mt-0"
      >
        <div class="flex flex-col justify-center items-center">
          <p class="text-white mb-3">Our email</p>
          <a href="mailto:contacto@andreszapata.me">
            <button
              class="flex items-center bg-bleu-de-france rounded-lg text-white px-6 py-4 transition-transform duration-2000 hover:scale-105"
            >
              <p class="mr-2">contacto@andreszapata.me</p>
              <Icon name="paperplane" />
            </button>
          </a>
        </div>
        <div class="flex justify-center">
          <p class="text-white">Perhaps you'd like to complete this form...</p>
        </div>
        <div class="justify-self-center lg:justify-self-center">
          <form
            action="https://formspree.io/f/mwkdjvpj"
            method="post"
            class="w-[325px] lg:w-[447px] flex flex-col"
          >
            <div class="relative h-11 w-full min-w-[200px] mb-8">
              <input
                class="peer h-full w-full border-b border-gray-500 bg-transparent pt-4 pb-1.5 text-white outline outline-0 transition-all placeholder-shown:border-gray-500 focus:border-bleu-de-france focus:outline-0 disabled:border-0 disabled:bg-gray-50"
                name="name"
                placeholder=" "
                type="text"
                required
              />
              <label
                class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] leading-tight text-gray-400 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-bleu-de-france after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-gray-400 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-bleu-de-france peer-focus:after:scale-x-100 peer-focus:after:border-bleu-de-france peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-gray-400"
              >
                Name
              </label>
            </div>
            <div class="relative h-11 w-full min-w-[200px] mb-8">
              <input
                class="peer h-full w-full border-b border-gray-500 bg-transparent pt-4 pb-1.5 text-white outline outline-0 transition-all placeholder-shown:border-gray-500 focus:border-bleu-de-france focus:outline-0 disabled:border-0 disabled:bg-gray-50"
                name="email"
                placeholder=" "
                type="email"
                required
              />
              <label
                class="after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] leading-tight text-gray-400 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-bleu-de-france after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-gray-400 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-bleu-de-france peer-focus:after:scale-x-100 peer-focus:after:border-bleu-de-france peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-gray-400"
              >
                Email
              </label>
            </div>
            <label for="message"></label>
            <textarea
              class="border border-gray-500 bg-transparent rounded-lg resize-none p-2 mb-8 text-white outline outline-0 placeholder:text-sm focus:outline-0 focus:border-bleu-de-france focus:ring-bleu-de-france focus:ring-1"
              name="message"
              id="message"
              cols="30"
              rows="6"
              placeholder="Your message"
              required></textarea>
            <button
              class="w-[150px] lg:w-[125px] bg-bleu-de-france rounded-lg text-white font-medium self-center lg:self-start px-11 py-3 lg:py-2.5 transition-colors duration-200 hover:bg-blue-700"
              type="submit">Send</button
            >
          </form>
        </div>
      </div>
    </div>
    <div
      class="section-footer bg-bleu-de-france min-h-[100px] lg:min-h-[130px] flex flex-col justify-center items-center"
    >
      <div class="w-[212px] flex justify-between my-6">
        <a href="https://twitter.com/andreszapataq" target="_blank"
          ><Icon name="x" /></a
        >
        <a href="https://www.linkedin.com/in/andreszapataq/" target="_blank"
          ><Icon name="linkedin" /></a
        >
        <a href="https://github.com/andreszapataq" target="_blank"
          ><Icon name="github" /></a
        >
      </div>
      <p class="text-white text-[13px]">
        &copy; <span id="year"></span> andreszapata.me
      </p>
    </div>
    <script src="../utils/utils.js"></script>
  </body>
</html>
